<!--
  <div class="metrics">
    <div class="space-between head-line">
      <ng-container *ngFor="let item of headLineSignals">
        <img src="{{item}}" alt="Oops!">
      </ng-container>
    </div>

    <div class="space-between head-line">
      <ng-container *ngFor="let item of firstLineSignals">
        <img src="{{item}}" alt="Oops!">
      </ng-container>
    </div>

    <div class="space-between">
      <div class="left">
        <div class="head-line">
          <ng-container *ngFor="let item of secondLineSignals | slice:0:4">
            <img src="{{item}}" alt="Oops!">
          </ng-container>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of thirdLineSignals | slice:0:3">
            <img src="{{item}}" alt="Oops!">
          </ng-container>
        </div>

        <div class="space-between">
          <div class="progress-bar">
            <div class="progress-bar_container">
              <div class="bar" [ngStyle]="{'height': oilHeight+'%', 'background':oilHeight < 10? 'red': oilHeight < 40 ? 'yellow' : '#00e035'}"></div>
            </div>
            <div>Давление 1</div>
            <div>{{Math.floor(oilHeight)}} <span class="text-gray">бар</span></div>
          </div>

          <div class="progress-bar">
            <div class="progress-bar_container">
              <div class="bar" [ngStyle]="{'height': temperatureHeight-40+'%', 'background':temperatureHeight > 90 ? 'red': '#00e035'}"></div>
            </div>
            <div>Давление 2</div>
            <div>{{Math.floor(temperatureHeight)}} <span class="text-gray">бар</span></div>
          </div>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of fourLineSignals">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of sevenLineSignals">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>
      </div>

      <div class="center">
        <div style="display: flex; justify-content: center">
          <ngx-gauge class="ngx-rpm" [size]="200" [thick]="7" [min]="0" [max]="30" [markers]="rpmMarkers" [foregroundColor]="'#00e035'" [backgroundColor]="'#2f2f2f'"
                     [value]="Math.floor(rpmValue)" [label]="rpmLabel" [append]="rpmAppendText" [thresholds]="rpmThresholdConfig" [cap]="'butt'" [duration]="500">
          </ngx-gauge>
        </div>
        <div>
          <ngx-gauge [size]="300" [thick]="10" [min]="0" [max]="120" [markers]="speedMarkers" [foregroundColor]="'#00b9d0'" [backgroundColor]="'#2f2f2f'"
                     [value]="Math.floor(speedValue)" [label]="speedLabel" [append]="speedAppendText" [cap]="'butt'" [duration]="500" >
          </ngx-gauge>
        </div>

        <div class="head-line" style="display: flex; justify-content: center">
          <ng-container *ngFor="let item of eightLineSignals | slice:0:3">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>

        <div class="head-line" style="display: flex; justify-content: center">
          <ng-container *ngFor="let item of eightLineSignals | slice:3:8">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>
      </div>

      <div class="right">
        <div class="head-line">
          <ng-container *ngFor="let item of secondLineSignals | slice:4:8">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of thirdLineSignals | slice:3:7">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>
        <div class="space-between">
          <div class="progress-bar">
            <div class="progress-bar_container">
              <div class="bar" [ngStyle]="{'height': oilHeight+'%', 'background':oilHeight < 10? 'red': oilHeight < 40 ? 'yellow' : '#00e035'}"></div>
            </div>
            <div>Топливо</div>
            <div>{{Math.floor(oilHeight)}}<span class="text-gray">%</span></div>
          </div>

          <div class="progress-bar">
            <div class="progress-bar_container">
              <div class="bar" [ngStyle]="{'height': temperatureHeight-40+'%', 'background':temperatureHeight > 90 ? 'red': '#00e035'}"></div>
            </div>
            <div>Температура</div>
            <div>{{Math.floor(temperatureHeight)}}<span class="text-gray">°C</span></div>
          </div>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of fiveLineSignals">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>

        <div class="head-line">
          <ng-container *ngFor="let item of nineLineSignals">
            <img src="{{item}}" alt="">
          </ng-container>
        </div>
      </div>
    </div>
  </div>




-->
