<div class="panel">
  <div class="header">
    <div class="icons-header">
      <ng-container *ngFor="let item of iconsFirstLine | slice:0:iconsFirstLine.length / 2">
        <img style="margin-top: 10px" src="{{item}}" alt="">
      </ng-container>
    </div>

    <div class="time">{{time | date:'hh:mm'}}</div>

    <div class="icons-header">
      <ng-container *ngFor="let item of iconsFirstLine | slice:iconsFirstLine.length / 2:iconsFirstLine.length">
        <img style="margin-top: 10px" src="{{item}}" alt="">
      </ng-container>
    </div>
  </div>

  <div style="display: flex; justify-content: space-around; margin-bottom: 20px">
    <ng-container *ngFor="let item of iconsHeadLine">
      <img style="margin-top: 10px" src="{{item}}" alt="">
    </ng-container>
  </div>

  <div class="dashboard">
    <div class="metric">
      <div class="gauge">
        <ngx-gauge
          [min]="0"
          [max]="140"
          [size]="200"
          [markers]="speedMarkers"
          [value]="socketData.bus_speed"
          [label]="speedLabel"
          [append]="speedAppendText"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>

      <app-modern-progress-bar [id]="'fuel'" [title]="'температура'" [append]="'°С'"></app-modern-progress-bar>
    </div>

   <app-model modelPath="./assets/bus.gltf" [rotateY]="socketData.bus_y" [width]="400" [height]="300"></app-model>

    <div class="metric">
      <div class="gauge">
        <ngx-gauge
          [min]="0"
          [max]="140"
          [size]="200"
          [markers]="speedMarkers"
          [value]="socketData.bus_speed"
          [label]="speedLabel"
          [append]="speedAppendText"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>

      <app-modern-progress-bar [id]="'fuel1'" [title]="'топливо'" [append]="'%'"></app-modern-progress-bar>
    </div>
  </div>
</div>



