<div class="panel">
  <div class="header">
    <div class="icons-header">
      <ng-container *ngFor="let item of iconsFirstLine | slice:0:iconsFirstLine.length / 2">
        <img style="margin-top: 10px" src="{{item}}" alt="">
      </ng-container>
    </div>

    <div class="time">{{time | date:'hh:mm'}}</div>

    <div class="icons-header">
      <ng-container *ngFor="let item of iconsFirstLine | slice:iconsFirstLine.length / 2:iconsFirstLine.length">
        <img style="margin-top: 10px" src="{{item}}" alt="">
      </ng-container>
    </div>
  </div>

  <div class="dashboard">
    <div class="metric">
      <div class="gauge">
        <ngx-gauge
          [min]="0"
          [max]="140"
          [size]="200"
          [markers]="speedMarkers"
          [value]="socketData.bus_speed"
          [label]="speedLabel"
          [append]="speedAppendText"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>

      <div class="progress-bar">
        <div class="progress-bar_container">
          <div class="bar" [ngStyle]="{'height': 30+'%', 'background':30 < 10? 'red': 30 < 40 ? 'yellow' : '#00e035'}"></div>
        </div>
        <div>Топливо</div>
        <div>{{Math.floor(30)}}<span class="text-gray">%</span></div>
      </div>
    </div>

    <app-model modelPath="./assets/bus.gltf" [rotateY]="socketData.bus_y" [width]="400" [height]="300"></app-model>

    <div class="metric">
      <div class="gauge">
        <ngx-gauge
          [min]="0"
          [max]="140"
          [size]="200"
          [markers]="speedMarkers"
          [value]="socketData.bus_speed"
          [label]="speedLabel"
          [append]="speedAppendText"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>

      <div class="modern-progress-bar">
        <div class="modern-bar-container">
          <div class="modern-bar" id="progress0"></div>
        </div>
        <div class="modern-bar-container">
          <div class="modern-bar" id="progress1"></div>
        </div>
        <div class="modern-bar-container">
          <div class="modern-bar" id="progress2"></div>
        </div>
        <div class="modern-bar-container">
          <div class="modern-bar" id="progress3"></div>
        </div>
      </div>


    </div>
  </div>


</div>



