/* app.component.css */
.slider {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.slide {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
  outline: black;
}

.pagination {
  display: flex;
}

.card {
  display: flex;
  align-items: flex-end;
  background: gray;
  width: 100%;
  min-height: 20vh;
  max-height: 20vh;
  font-size: 90px;
  font-weight: bold;
  font-family: Arial;
}

.card.active {
  background: black;
  color: gray;
}
